<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Personal Deputy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-2 mb-2  mb-lg-0">
                <li *ngFor="let item of items" class="nav-item">
                    <a class="nav-link" [class]="item.class" aria-current="page"
                        [routerLink]="item.routerURL">{{item.name}}</a>
                </li>
            </ul>
            <button class="btn btn-primary">USER</button>
        </div>
    </div>
</nav>